@import "variables.scss";

.songControl {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 3em;
    align-items: center;
    margin-bottom: 1em;
}
.playButton, .forwardButton, .stopButton, .backwardButton {
    font-size: 2em;
}
.activeControl {
    color: $primary-color;
}
.songBpm {
    display: flex;
    align-items: center;
    gap: 1em;
}

.songBpm input {
    width: 3rem;
    padding: 10px;
}
