@import 'variables.scss';

.songControl {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 3em;
    align-items: center;
    margin-bottom: 1em;
}
.playButton,
.forwardButton,
.stopButton,
.backwardButton,
.repeatButton {
    font-size: 2em;
}
.activeControl {
    color: $primary-color;
}
.songBpm {
    display: flex;
    align-items: center;
    gap: 1em;
}

.bpmControlButton {
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.songBpmWrapper {
    width: 25px;
    text-align: center;
}
