@import "variables.scss";

.songControl {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    gap: 5em;
    align-items: center;
    margin-bottom: 1em;
}
.playButton, .forwardButton, .stopButton, .backwardButton {
    font-size: 2em;
}
.activeControl {
    &:before,
    &:after {
        background: $primary-color;
    }
}