.playTopWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    z-index: 1000000;
    padding-bottom: 40px;
    .playButton {
        position: absolute;
        bottom: 0;
        left: calc(50% - 4.2em);
        margin: 0 0 1em;
        img {
            width: 4em;
        }
    }
    .secondOption {
        margin: 0 20px;
    }
}
.songsWrapper {
    overflow-y: auto;
    height: 400px;
}