@import 'variables.scss';

.playTopWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    z-index: 1000000;
    padding-bottom: 20px;
    .playButton {
        position: absolute;
        bottom: 0;
        left: calc(50% - 4.2em);
        margin: 0 0 1em;
        img {
            width: 4em;
        }
    }
    .secondOption {
        margin: 0 20px;
    }
}
.songsWrapper {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background:  #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $primary-color;
    }
    height: 370px;
}

.searchWrapper {
    position: relative;
    display: flex;
}

.favouriteWrapper {
    cursor: pointer;
    font-size: 1.2em;
    position: absolute;
    top: 10px;
    right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.favourtiesIsShowing {
    color: red;
}
.favourtiesIsNotShowing {
    color: grey;
}