@import "variables.scss";

.commentsTopSectionWraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1000000;
    padding-bottom: 20px;
}
.songsWrapper {
    overflow-y: auto;
    height: 370px;
}

.comment {
    background-color: $block-color;
    padding: 10px;
    margin: 10px 0;
}

.commentAuthor {
    font-weight: bold;
}