@use 'variables' as *;

.commentsSectionWrapper {
    min-width: 780px;
    min-height: 500px;
    padding: 40px;
    text-align: left;
}

.commentsTopSectionWraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1000000;
    padding-bottom: 20px;
    button {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.commentFormWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 1em;
    textarea {
        margin: 10px 0;
    }
}

.commentsWrapper {
    overflow-y: auto;
    height: 370px;
}

.commentContainer {
    display: flex;
    margin: 10px 0;
    gap: 2%;
}

.comment {
    background-color: $block-color;
    color: $black;
    padding: 10px;
    flex-basis: 90%;
    position: relative;
}

.noComments {
    margin-top: 20px;
}

.commentAuthor {
    font-weight: bold;
}

.addCommentButtonsWrapper {
    display: flex;
    gap: 10px;
}

.commentTextArea {
    width: 90%;
    height: 50px;
    resize: none;
}

.commentTextArea:focus {
    outline: none;
}

.deleteCommentButton {
    background-color: #f00;
    width: 20px;
    height: 20px;
    color: $white;
    padding: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}

.comment:hover .deleteCommentButton {
    display: flex;
}

.commentAuthorAvatar {
    max-width: 3rem;
    flex-basis: 8%;
    background-color: #757575;
}