@import 'variables.scss';

.wrapper {
    padding: 2em 3em;
}

.dashboardContentWrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.dashboardList {
    display: flex;
    flex-direction: column;
}

.dashboardList:last-child {
    flex-direction: column;
    width: 50%;
}

.manualList {
    li {
        margin-bottom: 10px;
    }
}

.dashboardHint {
    color: $primary-color;
    width: 100%;
    text-align: center;
    margin-top: 10rem;
}