.wrapper {
    padding: 2em 3em;
}

.dashboardContentWrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.dashboardList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manualList {
    li {
        margin-bottom: 10px;
    }
}