@import 'variables.scss';

.button {
    color: $black;
    text-decoration: none;
    background-color: $primary-color;
    padding: 15px 20px;
    display: block;
    border: 0;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #7e291d;
        color: $white;
        cursor: pointer;
        .buttonContentWrapper {
            transform: scale(1.05);
            font-weight: 700;
        }
        .linkContentWrapper {
            transform: scale(1.05);
            font-weight: 700;
        }
    }
    &Circle {
        @extend .button;
        border-radius: 50%;
        width: 8.5em;
        padding: 2em;
    }
    &Dark {
        background-color: #050c18;
        color: $white;
    }
    &Transparent {
        background-color: transparent;
        color: $white;
        border: 0;
        display: flex;
        align-items: center;
        font-weight: 200;
        padding: 0;
    }
    &Transparent:hover {
        background-color: transparent;
        color: $primary-color;
    }
    &Active {
        color: $primary-color;
        .buttonContentWrapper {
            transform: scale(1.05);
            font-weight: 700;
        }
    }
}
