@use 'variables' as *;

.form {
    margin-top: 20px;
}
.agreement:last-child {
    margin-top: 10px;
}
.agreement {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    a {
        color: $primary-color;
    }
}

.agreement input[type="checkbox"] {
    margin: 4px 0 0;
}

.agreement label {
    display: inline;
}

.inputWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.loginPasswordWrapper input{
    width: 100%;
}
.loginPasswordWrapper {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    margin: 10px 0 0;
}
.approvalWrapper {
    font-size: 0.7em;
    width: 100%;
    margin: 20px 0;
}
.labelRadio {
    font-size: 0.7em;
}
.radioWrapper {
    display: flex;
}

.info {
    margin-bottom: 10px;
}

.wrapper {
    max-width: 300px;
}

.error {
    color: red;
    font-size: 0.8em;
    margin: 5px 0;
}