@import "variables.scss";

.form {
    margin-top: 20px;
}

.inputWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.loginPasswordWrapper {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    margin: 10px 0 0;
}
.approvalWrapper {
    font-size: 0.8em;
    flex-basis: 60%;
    margin-bottom: 1em;
}
.labelRadio {
    font-size: 0.7em;
}
.radioWrapper {
    display: flex;
}

.info {
    margin-bottom: 10px;
}