@use 'variables' as *;

.star {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    background-color: #ccc;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}

.star.full {
    background-color: $primary-color;
}

.star.half {
    background: linear-gradient(to right, #ffc700 50%, #ccc 50%);
}