@use 'variables' as *;
.usersWrapper {
    display: flex;
    flex-direction: column;
    min-width: 750px;
    min-height: 500px;
    height: 100%;
    text-align: left;
    align-items: center;
    .usersSettings {
        display: flex;
        gap: 20px;
        padding: 10px;
        width: 100%;
        .userChooseWrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            width: 50%;
            padding: 10px;
            h3 {
                margin-bottom: 10px;
            }
            .active {
                background-color: $primary-color;
            }
        }
        .userInfo {
            padding: 10px;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            form {
                margin-top: 20px;
                label {
                    margin-top: 10px;
                    display: flex;
                    gap: 5px;
                }
                .buttonsWrapper {
                    margin-top: 10px;
                    display: flex;
                    gap: 10px;
                }
            }
            .radioButtonWrapper {
                width: 20px;
                text-align: left;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}
