@use 'variables' as *;
@use 'sass:color' as color;

.tablatureEditorWrapper {
    display: flex;
    flex-direction: column;
    background: $white;
    width: 100%;
    max-width: 100vw;
    height: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px 0px 10px 40px;
}

.string {
    display: flex;
    position: relative;
    width: 100%;
    flex: 1;
    &::before {
        content: '';
        width: 100%;
        background: linear-gradient(#eee, #999);
        z-index: 1;
        position: absolute;
        height: 2px;
        top: calc(50% - 2px);
    }
}
.stringLabel {
    color: $black;
    position: absolute;
    display: block;
    z-index: 2;
    transform: translateX(-20px);
}

.activeTabColumn {
    background-color: color.adjust($primary-color, $lightness: 20%);
}

.tabCell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    input {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
        text-align: center;
        z-index: 5;
        font-weight: 700;
        &:focus {
            background-color: $primary-color;
        }
    }
}
