@import 'variables.scss';

.websiteViewWrapper {
    line-height: 1.6;

    font-size: $font-size-web;
    @media screen and (max-width: $desktop) {
        font-size: $mobile-font-size-web;
    }
    h1 {
        line-height: 1.2;
    }
}

.demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .demoTextWrapper {
        flex-basis: 39%;
        display: flex;
        flex-direction: column;
    }

    .demoParagraph {
        color: $black;
    }

    iframe {
        flex: 0 1 30%;
        height: 250px;
        margin-top: 40px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    @media screen and (max-width: $desktop) {
        flex-direction: column-reverse;
        gap: 0;

        .demoTextWrapper {
            flex-basis: 100%;
        }

        iframe {
            flex-basis: 100%;
            width: 100%;
            margin-top: 40px;
        }
    }
}
.startButton {
    width: 10em;
}
.aboutParagraph {
    text-align: justify;
}
.cardsWrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    @media screen and (max-width: $desktop) {
        flex-flow: column;
    }
}
.profits {
    display: flex;
    width: 100%;
    height: $section-height;
    justify-content: space-between;
    align-items: center;
    font-size: $bigger-font-size-form;
    text-align: center;
    @media screen and (max-width: $desktop) {
        font-size: $mobile-bigger-font-size-form;
    }
    button {
        font-size: $bigger-font-size;
        background-color: transparent;
        color: #fff;
    }
}
.contactWrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 700;
    align-items: center;
    min-height: $section-height;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            color: $primary-color;
        }
    }
    @media screen and (max-width: $desktop) {
        flex-direction: column;
    }
}
