@import 'variables.scss';

.demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &Paragraph {
        color: $black;
        flex-basis: 35%;
        @media screen and (max-width: $desktop) {
            flex-basis: 100%;
        }
    }
    img {
        width: 500px;
        @media screen and (max-width: $desktop) {
            width: 100%;
        }
    }
}
.cardsWrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    @media screen and (max-width: $desktop) {
        flex-flow: column;
    }
}
.profits {
    display: flex;
    width: 100%;
    height: $section-height;
    justify-content: space-between;
    align-items: center;
    font-size: $bigger-font-size-form;
    text-align: center;
    @media screen and (max-width: $desktop) {
        font-size: $mobile-bigger-font-size-form;
    }
    button {
        font-size: $bigger-font-size;
        background-color: transparent;
        color: #fff;
    }
}
.contactWrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 700;
    align-items: center;
    min-height: $section-height;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            color: $primary-color;
        }
    }
}