@use 'variables' as *;

.tablatureEditorViewWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .textContentWrapper {
        padding: 2em 3em 0;
        margin-bottom: 80px;
    }

    .linkWrapper {
        a {
            color: $white;
        }
    }

    .buttonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
        .tablatureEditButtonsWrapper {
            display: flex;
            gap: 10px;
        }
    }
}
