@use 'variables' as *;

.tablatureEditorViewWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .textContentWrapper {
        padding: 2em 3em 0;
        margin-bottom: 200px;
    }

    .linkWrapper {
        a {
            color: $white;
        }
    }

    .buttonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
        .tablatureEditButtonsWrapper {
            display: flex;
            gap: 10px;
            button, select {
                height: 40px;
                font-size: 0.8em;
                text-align: center;
            }
            .durationSelect {
                font-size: 2em;
                width: 40px;
            }
        }
    }
    .tablatureAddLineButtonsWrapper {
        display: flex;
        gap: 10px;
    }

    .inputsWrapper {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
}
