@use 'variables' as *;

#playBackground {
    min-height: 100vh;
    padding: 0;
    background: url('../../assets/playbackground.png') no-repeat center center;
    background-size: cover;
    font-size: $font-size-app;
}