@import 'variables.scss';
.title {
    margin: 0;
    @at-root h1#{&} {
        font-size: $the-biggest-font-size;
    }
    @at-root h2#{&} {
        font-size: $bigger-font-size;
        padding: 10px 0 15px;
    }
    &Black {
        @extend .title;
        color: $black;
    }
    &Orange {
        @extend .title;
        color: $primary-color;
    }
    @media screen and (max-width: $desktop) {
        @at-root h1#{&} {
            font-size: $mobile-the-biggest-font-size;
        }
        @at-root h2#{&} {
            font-size: $mobile-bigger-font-size;
        }
    }
}