@import 'variables.scss';

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.fretboard {
    display: flex;
    flex-direction: column;
    background: #c79d5e;
    width: 100%;
    max-width: 100vw;
    height: #{$fretboard-height}px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.string {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    @for $i from 1 through length($string-colors) {
        &[data-string="#{$i}"] {
            .noteFret::before {
                background: nth($string-colors, $i);
            }
            .noteFret::after {
                background: nth($string-colors, $i);
            }
            &::after {
                background: nth($string-colors, $i);
            }
        }
    }

    &::after {
        content: '';
        width: 100%;
        height: #{$string-height}px;
        z-index: 1;
        position: absolute;
        top: #{$string-top-position}px;
        opacity: $note-dot-opacity;
    }

    &::before {
        content: '';
        width: 100%;
        height: #{$string-height}px;
        background: linear-gradient(#eee, #999);
        box-shadow: 76px 3px 10px #806233;
        z-index: 1;
        position: absolute;
        top: #{$string-top-position}px;
    }
    &.activeEmptyString {
        &::after {
            opacity: 1;
            animation: pulse 0.3s ease;
            transform-origin: center;
        }
    }
}
.nextActiveEmpty {
    @for $i from 1 through length($string-colors) {
        &[data-string="#{$i}"]::before {
            box-shadow: 0px 0px 0px 15px rgba(nth($string-colors, $i), 0.3);
        }
    }
}
.noteFret {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: 10px solid;
    border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;

    &:first-child {
        background: #161717;
        z-index: 2;
        min-width: 76px;
        flex-grow: 0;
        flex-shrink: 0;
        border-right: 12px solid;
        border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
    }

    &::before {
        content: attr(data-note);
        width: 2.2em;
        height: 2.2em;
        line-height: 2.2em;
        border-radius: 50%;
        text-align: center;
        z-index: 2;
        color: #ffffff;
        font-weight: 700;
        text-shadow: 1px 1px 2px black;
        opacity: $note-dot-opacity;
        transform: scale(1);
        transition: transform 0.2s ease;
    }

    &::after {
        content: '';
        width: 2.2em;
        height: 2.2em;
        line-height: 2.2em;
        border-radius: 50%;
        text-align: center;
        z-index: 1;
        color: #ffffff;
        font-weight: 700;
        text-shadow: 1px 1px 2px black;
        opacity: $note-dot-opacity;
        transform: scale(1);
        transition: transform 0.2s ease;
        position: absolute;
    }

    &.nextActive::after {
        opacity: 0.5;
        transform: scale(1.5);
    }

    &.active::before {
        opacity: 1;
        animation: pulse 0.3s ease;
    }
}
.singleFretmark {
    &::after {
        content: '';
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background: #644719;
    }
}
.doubleFretmark {
    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background: #644719;
    }
}

.singleFretmark {
    &::after {
        top: ($fretboard-height / 2) * 1px;
        transform: translate(-93%, -50%);
    }
}

.doubleFretmark {
    &::before {
        top: $double-fretmark-position-1 * 1px;
        transform: translate(-93%, 10%);
    }

    &::after {
        top: $double-fretmark-position-2 * 1px;
        transform: translate(-93%, -115%);
    }
}
