@import "variables.scss";

.fretboard {
    display: flex;
    flex-direction: column;
    background: #c79d5e;
    width: 100%;
    min-width: 1500px;
    height: #{$fretboard-height}px;
}

.string {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    @for $i from 1 through length($string-colors) {
        &:nth-child(#{$i}) {
            .noteFret::before {
                background: nth($string-colors, $i);
            }
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: #{$string-height}px;
        background: linear-gradient(#eee, #999);
        box-shadow: 76px 3px 10px #806233;
        z-index: 1;
        position: absolute;
        top: #{$string-top-position}px;
    }
}

.noteFret {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: 10px solid;
    border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;

    &:first-child {
        background: #161717;
        min-width: 76px;
        flex-grow: 0;
        flex-shrink: 0;
        border-right: 12px solid;
        border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
    }

    &::before {
        content: attr(data-note);
        width: 33px;
        height: 33px;
        border-radius: 50%;
        line-height: 33px;
        text-align: center;
        background: teal;
        z-index: 2;
        color: #ffffff;
        font-weight: 700;
        text-shadow: 1px 1px 2px black;
        opacity: $note-dot-opacity;
    }

    &.active::before {
        opacity: 1;
    }
}
.singleFretmark {
    &::after {
        content: '';
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #644719;
    }
}
.doubleFretmark {
    &::after,
    &::before {
        content: '';
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #644719;
    }
}

.singleFretmark {
    &::after {
        top: ($fretboard-height / 2) * 1px;
        transform: translate(-93%, -50%);
    }
}

.doubleFretmark {
    &::before {
        top: $double-fretmark-position-1 * 1px;
        transform: translate(-93%, 10%);
    }

    &::after {
        top: $double-fretmark-position-2 * 1px;
        transform: translate(-93%, -115%);
    }
}