@import "variables.scss";

.wrapper {
    max-width: 100%;
    background: $secondary-color;
    padding: 2em 3em;
    @media screen and (max-width: $desktop) {
        max-width: 100%;
    }
}
.closeableWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 850px;
    height: 500px;
    z-index: 1000000;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    z-index: 10000000000000000;
}