@import 'variables.scss';
.wrapper {
    display: flex;
    align-items: center;
    flex-basis: 70%;
    justify-content: flex-end;
    .navList {
        display: flex;
        &Item {
            list-style: none;
            padding: 0 20px;
            .hashLink {
                text-decoration: none;
                color: $white;
            }   
        }
    }
}