@import 'variables.scss';
.wrapper {
    display: flex;
    flex-basis: 70%;
    justify-content: flex-end;
    .navList {
        align-items: center;
        display: flex;
        padding: 0;
        &Item {
            list-style: none;
            padding: 0 20px;
            .hashLink {
                color: $white;
            }
            @media screen and (max-width: $desktop) {
                padding: 20px 0;
            }
        }
        @media screen and (max-width: $desktop) {
            flex-direction: column;
        }
    }
    @media screen and (max-width: $desktop) {
        
    }
}
.wrapperHide {
    @extend .wrapper;
    @media screen and (max-width: $desktop) {
        display: none;
    }
}