@use 'variables' as *;
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 70px);
    a {
        color: $white;
        margin: 50px 0 20px;
    }
}
.authError p:nth-child(2) {
    padding-bottom: 20px;
    font-size: 12px;
}