@import "variables.scss";
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .loginRegisterWrapper {
        display: flex;
    }
    a {
        color: $white;
        margin: 50px 0 20px;
    }
}