@use 'variables' as *;

.songTile {
    background-color: $block-color;
    color: $black;
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    h3 {
        text-align: center;
    }
}

.favouriteWrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.liked {
    color: red;
    display: none;
}

.unliked {
    color: gray;
    @extend .liked;
}

.managementButtons {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    gap: 10px;
    .comments:hover,
    .modify:hover,
    .delete:hover {
        cursor: pointer;
        color: $primary-color;
    }
    .songManageButtonsWrapper {
        gap: 10px;
        display: none;
    }
    .show {
        display: flex;
    }
}

.hoverItem {
    display: flex;
}

.songTop {
    position: absolute;
    font-weight: bold;
    color: $white;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px) translateX(10px);
    border-radius: 50%;
}

.songTopGold {
    background-color: #a89216;
}

.songTopSilver {
    background-color: #757575;
}

.songTopBronze {
    background-color: #4f3d09;
}

.isLarge {
    width: 17.5em;
    height: 8em;
}

.hidden {
    display: none;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: $desktop) {
    .isLarge {
        width: 20.5em;
        height: 10em;
    }
}

@media screen and (max-width: $mobile) {
    .isLarge {
        width: 17.5em;
        height: 10em;
    }
    .songTile {
        width: 100%;
    }
}
