@import "variables.scss";

.songTile {
    background-color: #D9D9D9;
    color: $black;
    width: 12.5rem;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.liked {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: red;
    border: 1px solid black;
    display: none
}

.unliked {
    @extend .liked;
    background-color: transparent;
}

.likedHover {
    display: block;
}

.songTop {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px) translateX(10px);
    border-radius: 50%;
}

.songTopGold {
    background-color: #ffd700;
}

.songTopSilver {
    background-color: #c0c0c0;
}

.songTopBronze {
    background-color: rgb(138, 107, 15);
}