@use 'variables' as *;

.songTile {
    background-color: $block-color;
    color: $black;
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    h3 {
        text-align: center;
    }
}

.favouriteWrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.liked {
    color: red;
    display: none
}

.unliked {
    color: gray;
    @extend .liked;
}

.comments {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 20px;
    display: none;
    border: 2px solid $black;
    border-radius: 10px;
}

.comments:after, .comments:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -4.5px;
    right: 10px;
    border-top: 5px solid $block-color;
    border-right: 1px solid $block-color;
    border-left: 5px solid transparent;
}

.comments:before {
    bottom: -7.5px;
    right: 8px;
    border-top: 7.5px solid $black;
    border-right: 2px solid $black;
    border-left: 7.5px solid transparent;
}

.comments:hover {
    border-color: $primary-color;
}

.comments:hover:before {
    border-top-color: $primary-color;
    border-right-color: $primary-color;
}

.hoverItem {
    display: block;
}

.songTop {
    position: absolute;
    font-weight: bold;
    color: $white;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px) translateX(10px);
    border-radius: 50%;
}

.songTopGold {
    background-color: #a89216;
}

.songTopSilver {
    background-color: #757575;
}

.songTopBronze {
    background-color: #4f3d09;
}

.isLarge {
    width: 17.5em;
    height: 8em;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: $desktop) {
    .isLarge {
        width: 20.5em;
        height: 10em;
    }
}

@media screen and (max-width: $mobile) {

    .isLarge {
        width: 17.5em;
        height: 10em;
    }
    .songTile {
        width: 100%;
    }
}