@import "variables.scss";
.wrapper {
    background-color: $white;
    min-height: $section-height;
    padding: 20px 5% 50px;
    &Dark {
        @extend .wrapper;
        background: $secondary-color;
    }
}