@use 'variables' as *;
.wrapper {
    background-color: $white;
    min-height: $section-height;
    padding: 50px 5% 50px;
    &Dark {
        @extend .wrapper;
        background: $secondary-color;
    }
}