@import 'variables.scss';

.fretboard {
    display: flex;
    flex-direction: column;
    background: #c79d5e;
    width: 100%;
    min-width: 1500px;
    height: #{$fretboard-height}px;
}

.string {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    @for $i from 1 through length($string-colors) {
        &:nth-child(#{$i}) {
            .noteFret::before {
                background: nth($string-colors, $i);
            }
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: #{$string-height}px;
        background: linear-gradient(#eee, #999);
        box-shadow: 76px 3px 10px #806233;
        z-index: 1;
        position: absolute;
        top: #{$string-top-position}px;
    }
}

.noteFret {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: 10px solid;
    border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;

    &:first-child {
        background: #161717;
        min-width: 76px;
        flex-grow: 0;
        flex-shrink: 0;
        border-right: 12px solid;
        border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
    }

    &::before {
        content: attr(data-note);
        width: 33px;
        height: 33px;
        border-radius: 50%;
        line-height: 33px;
        text-align: center;
        background: teal;
        z-index: 2;
        color: #eee;
        opacity: $note-dot-opacity;
    }
}

.wrapper {
    padding: 0 3em;
}

.linkWrapper {
    padding: 2em 3em 0;

    a {
        color: $white;
    }
}

.songControl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0 1em;
    gap: 5em;
}

.playButton {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
    background: transparent;
    cursor: pointer;
    transition: border-left-color 0.3s;

    &:hover {
        border-left-color: $primary-color;
    }

    &.activeControl {
        border-left-color: $primary-color;
    }
}

.goBackButton,
.forwardButton,
.stopButton {
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.goBackButton {
    &:before,
    &:after {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    &:before {
        left: 0;
        border-right: 15px solid white;
    }

    &:after {
        left: 10px;
        border-right: 15px solid white;
    }

    &:hover:before,
    &:hover:after {
        border-right-color: $primary-color;
    }
}

.forwardButton {
    &:before,
    &:after {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    &:before {
        left: 0;
        border-left: 15px solid white;
    }

    &:after {
        left: 10px;
        border-left: 15px solid white;
    }

    &:hover:before,
    &:hover:after {
        border-left-color: $primary-color;
    }
}

.stopButton {
    &:before,
    &:after {
        width: 6px;
        height: 25px;
        background: white;
    }

    &:before {
        left: 6px;
    }

    &:after {
        right: 6px;
    }

    &:hover:before,
    &:hover:after {
        background: $primary-color;
    }
}

.activeControl {
    &:before,
    &:after {
        background: $primary-color !important;
    }
}
