@use 'variables' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-web;
  color: $white;
  font-weight: 200;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul li {
  margin-top: 10px;
}
input[type=checkbox] {
  accent-color: $primary-color;
}

@media screen and (max-width: $desktop) {
  html {
    font-size: $mobile-font-size-web;
  }
}