$primary-color: #F5513B;
$secondary-color: #0D2548;
$black: #000;
$white: #fff;

$font-size-web: 20px;
$font-size-app: 24px;
$bigger-font-size: 32px;
$bigger-font-size-form: 56px;
$the-biggest-font-size: 96px;