$primary-color: #f5513b;
$secondary-color: radial-gradient(50% 50% at 50% 50%, #102f5c 0%, #07111f 100%);
$black: #000;
$white: #fff;
$secondary-color-dark: #050c18;
$play-background: #1e1e1e;
$block-color: #D9D9D9;

$desktop: 1300px;
$mobile: 768px;

$font-size-web: 20px;
$font-size-app: 16px;
$bigger-font-size: 32px;
$bigger-font-size-form: 56px;
$the-biggest-font-size: 96px;

$mobile-font-size-web: $font-size-app * 0.8;
$mobile-bigger-font-size: $bigger-font-size * 0.8;
$mobile-bigger-font-size-form: $bigger-font-size-form * 0.8;
$mobile-the-biggest-font-size: $the-biggest-font-size * 0.8;

$section-height: 434px;

//freatboard

$fretboard-height: 300;
$number-of-strings: 6;
$string-height: 10;
$half-string-height: $string-height / 2;
$string-top-position: ($fretboard-height / $number-of-strings / 2) - $half-string-height;
$double-fretmark-position-1: $fretboard-height * 0.25;
$double-fretmark-position-2: $fretboard-height * 0.75;
$note-dot-opacity: 1;

$string-colors: red, yellow, blue, orange, green, purple;
