@use 'variables' as *;

.tabulatureEditorWrapper {
    background-color: $white;
    height: 152px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.string {
    background-color: gray;
    height: 2px;
}