@use 'variables' as *;

.settingsWrapper {
    display: flex;
    min-width: 750px;
    min-height: 500px;
    height: 100%;
}


.settingsNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 0 0;
    border-right: 1px solid rgba(217, 217, 217, 0.1);
    max-width: 20%;
    button {
        width: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.settingsLink {
    padding-bottom: 20px;
}

.settingsLink:hover {
    color: $primary-color;
    cursor: pointer;
}

.settingsOne {
    padding-left: 40px;
}

.settingsContent {
    display: flex;
    width: 100%;
    padding: 0 40px;
    .accountSettingsInput {
        display: block;
        width: 100%;
        padding: 0.5rem;
    }
    button {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
    }
}

.settingsContent ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.settingsContent .lead {
    color: $primary-color;
    font-weight: 400;
}
.accountSettingsWrapper {
    display: flex;
    text-align: left;
    padding: 40px 0 0 0;
}
.settingsContentLeft {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.settingsContentRight {
    padding-left: 20px;
    form {
        margin-top: 0.3rem;
        .formGroup {
            margin-bottom: 0.5rem;
        }
    }
}

.interfaceSettingsWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 40px 0 0 0;
}

.gameInterfaceSettingsContent {
    margin-top: 0.5rem;
}
