@import "variables.scss";

.settingsWrapper {
    display: flex;
    width: 100%;
    height: 100%;
}


.settingsNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px 0 0;
    border-right: 1px solid rgba(217, 217, 217, 0.1);
}

.settingsLink {
    padding-bottom: 20px;
}

.settingsLink:hover {
    color: $primary-color;
    cursor: pointer;
}

.settingsOne {
    padding-left: 40px;
}

.settingsContent {
    display: flex;
    width: 100%;
    padding: 0 40px;
    .accountSettingsInput {
        display: block;
        width: 100%;
        padding: 0.5rem;
    }
    button {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
    }
}

.settingsContent ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.settingsContent .lead {
    color: $primary-color;
    font-weight: 400;
}

.settingsContentLeft {
    width: 50%;
    padding-right: 20px;
}
.settingsContentRight {
    width: 50%;
    padding-left: 20px;
    form {
        margin-top: 0.3rem;
        .formGroup {
            margin-bottom: 0.5rem;
        }
    }
}

.gameInterfaceSettingsContent {
    margin-top: 0.5rem;
}
