@use 'variables' as *;

.slider {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    text-align: center;
    input[type='range'] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        border-radius: 16px;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 15px;
        background: $primary-color;
        border-radius: 16px;
    }

    input[type='range']::-moz-range-track {
        height: 15px;
        background: $primary-color;
        border-radius: 16px;
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        background-color: $white;
        border-radius: 50%;
        border: 2px solid rgb(255, 255, 255);
    }
    
    input[type='range']::-moz-range-thumb {
        height: 15px;
        width: 15px;
        background-color: $white;
        border-radius: 50%;
        border: 2px solid $white;
    }
}
